_minted-*
*.aux
*.log
.DS_Store
trash.tex
*.toc
.commit
*.idx
*.ilg
*.ind
main.pdf
cover.pdf
*.pyg
*.idlk
*.out
pyg_print/build/
pyg_print/dist/
pyg_print/pyg_print.egg-info/
media/sent/
media/corr/
/*.pdf
.auctex-auto/
*.fdb_latexmk
*.fls
.dtmp
clojure-in-production.zip
svg-inkscape
*.w18

media/cover_dmk.pdf
media/cover_dmk_ebook.pdf
media/cover_dmk_ebook.png
media/cover_dmk_ebook2.png
media/cover_dmk_curves.pdf
media/dmk_logo-eps-converted-to.pdf
clojure-in-production-2.zip
